.list-style-none {
    list-style-type: none;
    margin: 10px !important;
    padding: 0;
}

.full-width {
    width: 100%;
}

.mbot-15 {
    margin-bottom: 15px !important;
}

.display-none {
    display: none;
}
