@import "reset";
@import "variables";
@import "util";
@import "grid";
@import "icon";
@import "button";
@import "card";
@import "form";

body {
    font-family: $fontFamily
}

.dark-mode {
    background: $darkgray;
    color: $white;
}
